.container{
	width: 1000px;
	margin: auto;
	background-color: white;
}
html{
	margin: 0;
	padding: 0;
	background-color: lavender;
}
#line1{
	border: 1px solid blue;
}
body{
	background-color: lavender;
}
a , a:hover{
	text-decoration: none;
}
fieldset{
	border: 1px solid lavender;
}